
.icon-email {
	background-image: url('png/email.png');
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}

.icon-facebook-messenger {
	background-image: url('png/facebook-messenger.png');
	background-repeat: no-repeat;
}

.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url('png/instagram.png');
	background-repeat: no-repeat;
}

.icon-kickstarter {
	background-image: url('png/kickstarter.png');
	background-repeat: no-repeat;
}

.icon-kik {
	background-image: url('png/kik.png');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}

.icon-medium {
	background-image: url('png/medium.png');
	background-repeat: no-repeat;
}

.icon-phone {
	background-image: url('png/phone.png');
	background-repeat: no-repeat;
}

.icon-producthunt {
	background-image: url('png/producthunt.png');
	background-repeat: no-repeat;
}

.icon-skype {
	background-image: url('png/skype.png');
	background-repeat: no-repeat;
}

.icon-slack {
	background-image: url('png/slack.png');
	background-repeat: no-repeat;
}

.icon-snapchat {
	background-image: url('png/snapchat.png');
	background-repeat: no-repeat;
}

.icon-soundcloud {
	background-image: url('png/soundcloud.png');
	background-repeat: no-repeat;
}

.icon-stackoverflow {
	background-image: url('png/stackoverflow.png');
	background-repeat: no-repeat;
}

.icon-telegram {
	background-image: url('png/telegram.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

.icon-vimeo {
	background-image: url('png/vimeo.png');
	background-repeat: no-repeat;
}

.icon-vkcom {
	background-image: url('png/vk.com.png');
	background-repeat: no-repeat;
}

.icon-website {
	background-image: url('png/website.png');
	background-repeat: no-repeat;
}

.icon-whatsapp {
	background-image: url('png/whatsapp.png');
	background-repeat: no-repeat;
}

.icon-xing {
	background-image: url('png/xing.png');
	background-repeat: no-repeat;
}

.icon-youtube {
	background-image: url('png/youtube.png');
	background-repeat: no-repeat;
}